*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style:none;
    text-decoration: none;
}

body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;

}

#main{
    background-image: url("./flappybirdbg.png");
}